<html>
<body>

<!--This is if name DOES NOT have a value. It shows login screen-->
{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/name}}

<!--This is if name DOES have a value. It shows the home screen-->
{{#name}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/addMessage" method="post">
    <input type="text" placeholder="Enter your message" name="text"/>
    <button type="submit">Submit</button>
</form>
Messages by {{.}}:
<ol>
    {{#messages}}
    <li>{{text}}</li>
    <form action="/deleteMessage" method="post"><input name="id" value="{{id}}" type="hidden"/><button type="submit">Delete</button></form>
    {{/messages}}
</ol>
{{/name}}


</body>
</html>